In [1]:
#Int
a=5678
print(a,type(a))

5678 <class 'int'>

In [3]:
#Float
a=4567.8765
print(a,type(a))

4567.8765 <class 'float'>

In [5]:
#complex
a=456+8j
print(a,type(a))

(456+8j) <class 'complex'>

In [ ]:
#int,float,complex= Nmerical

In [7]:
# Str
a='Hello Python'
print(a,type(a))

Hello Python <class 'str'>

In [9]:
poem='''Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.'''
print(poem)

Twinkle, twinkle, little star,
How I wonder what you are!
Up above the world so high,
Like a diamond in the sky.

When the blazing sun is gone,
When he nothing shines upon,
Then you show your little light,
Twinkle, twinkle, all the night.

In [11]:
# tuple
a= (2,653,485,6)
print(a,type(a))

(2, 653, 485, 6) <class 'tuple'>

In [13]:
# tuple
a= (2,)
print(a,type(a))

(2,) <class 'tuple'>

In [15]:
# list
a= [2,653,485,6]
print(a,type(a))

[2, 653, 485, 6] <class 'list'>

In [17]:
a[2]= 4000
print(a)

[2, 653, 4000, 6]

In [19]:
a= list(a)
a[3]= 900
a= tuple
print(a)

<class 'tuple'>

In [21]:
std_id=[1,1,2,2,2,2,23,3,3,3,4,4,4,45]
print(std_id)

[1, 1, 2, 2, 2, 2, 23, 3, 3, 3, 4, 4, 4, 45]

In [23]:
std_id=list(set(std_id))
print(std_id)

[1, 2, 3, 4, 45, 23]

In [25]:
#dict:-key value pair datatype

a= {'Name':'Mansi','Age':20,'Address':'Delhi'}
print(a,type(a))

{'Name': 'Mansi', 'Age': 20, 'Address': 'Delhi'} <class 'dict'>

In [27]:
a['Address'] ='Noida/Greater Noida'
print(a)

{'Name': 'Mansi', 'Age': 20, 'Address': 'Noida/Greater Noida'}

In [29]:
data = {'Region':['West','East','North','South'],
        'Sales':[345,546,453,456],
        'Profit':[120,200,90,78]}

print(data)

{'Region': ['West', 'East', 'North', 'South'], 'Sales': [345, 546, 453, 456], 'Profit': [120, 200, 90, 78]}

In [31]:
import pandas as pd

table=pd.DataFrame(data)
table

  Region  Sales  Profit
0   West    345     120
1   East    546     200
2  North    453      90
3  South    456      78

In [33]:
a= True
print(a,type(a))

True <class 'bool'>

In [35]:
#salary =56789
#>= 50: manager
#>= 30: Jr manager
#>= 20: Executive
#Intern

In [37]:
salary =56789
if salary >= 50000:
  print('manager')
elif salary >= 30000:
  print('Jr manager')
elif salary >= 20000:
  print('Executive')
else:
  print('Intern')

manager

In [39]:
import random
random.randint(10000,60000)

12505

In [41]:
import numpy as np
database_salary = np.random.randint(10000,60000,5)
print(database_salary)

[58917 46034 22323 27594 57866]

In [43]:
for i in database_salary:
  salary = i
  if salary >= 50000:
    print(i,'manager')
  elif salary >= 30000:
    print(i,'Jr manager')
  elif salary >= 20000:
    print(i,'Executive')
  else:
    print(i,'Intern')

58917 manager
46034 Jr manager
22323 Executive
27594 Executive
57866 manager

In [45]:
import time
for i in range(50):
  print(time.asctime())
  time.sleep(1)
  display(clear= True)

Mon Jun 30 23:24:20 2025

In [ ]:
import random
comp_choice = random.randint(1,10)
user_choice = int(input('Enter your choice(1-10):'))

print(f'''
User choice: {user_choice}
Computer choice: {comp_choice}''')

if user_choice == comp_choice:
  print('User won,Comp Lose!!')
else:
  print('Better Luck next time!!')

In [ ]:
user_attempts = 3

for i in range(user_attempts):
  comp_choice = random.randint(1,10)
  user_choice = int(input('Enter your choice(1-10):'))

  print(f'''
    User choice: {user_choice}
    Computer choice: {comp_choice}''')

  if user_choice == comp_choice:
      print('User won,Comp Lose!!')
  else:
      print('Better Luck next time!!')

In [ ]:
Questions ={1:'Which is the largest planet in our Solar System?',
            2:'Who is known as the Father of the Indian Constitution?',
            3:'What is the capital of Australia?',
            4:'Who invented the light bulb?',
            5:'Which country is known as the Land of the Rising Sun?'}

options = {1:'''A. Earth
B. Jupiter
C. Mars
D. Saturn''',
           2:'''A. Mahatma Gandhi
B. Jawaharlal Nehru
C. Dr. B.R. Ambedkar
D. Sardar Vallabhbhai Patel''',
           3:'''A. Sydney
B. Melbourne
C. Canberra
D. Brisbane''',
           4:'''A. Nikola Tesla
B. Albert Einstein
C. Thomas Edison
D. Isaac Newton''',
           5:'''A. China
B. Japan
C. South Korea
D. Thailand'''}

win_amount = 0

correct_op = ['B','C','C','C','B']

for i in range(1,len(Questions)+1):
  print(f'Question {i}: ',Questions[i])
  print(options[i])
  user_choice= input('Enter your choice: ').upper()

  correct_ans = correct_op[i-1]
  #print(correct_ans)

  if user_choice == correct_ans:
    win_amount += 10000
    print('Correct answer!!')
    print(end ='\n'*3)

  else:
    print('Better luck next time!!')
    break

print('Total amount won',win_amount)

In [ ]:
def say_hello(name):
  print(f'Hello {name}','How are you??')

In [ ]:
say_hello('Mansi')

In [ ]:
def vote(age):
  print('You can vote!!') if age >= 18 else print('You cannot vote!!')

In [ ]:
 # pip install gTTS

In [ ]:
from gtts import gTTS
text = '''Paytm par 50 rs Prapt hue.'''
audio = gTTS(text)
audio.save('paytm.mp3')

import pygame as p
p.init()

music = p.mixer.Sound('paytm.mp3')
music.play()

In [ ]:
def sound_box(amount,platform = 'Paytm'):

  text = f'''{platform} par {amount} rs Prapt hue.'''
  audio = gTTS(text)
  audio.save('paytm.mp3')

  import pygame as p
  p.init()

  music = p.mixer.Sound('paytm.mp3')
  music.play()

In [ ]:
sound_box(486,'Google Pay')

In [ ]:
# pip install pygame