In [1]:
#Functional Programming

In [3]:
def check_palindrome(word):
    return word

check_palindrome('Mansi')

a='lucky'
a[::-1]

In [11]:
a = 'Mohan'

if a == a[::-1]:
    print(f'{a} is a palindrome')
else:
    print(f'{a} is not palindrome')

Mohan is not palindrome

In [13]:
a = 'nitin'

if a == a[::-1]:
    print(f'{a} is a palindrome')
else:
    print(f'{a} is not palindrome')

nitin is a palindrome

In [15]:
def check_palindrome(word):
    if word == word[::-1]:
        return 'Palindrome'
    else:
        return 'Not Palindrome'

In [17]:
check_palindrome('Nitin')

'Not Palindrome'

In [19]:
check_palindrome('nitin')

'Palindrome'

In [27]:
def check_palindrome(word:str):
    if type(word) == str:
        word = word.upper()
        if word == word[::-1]:
            return 'Palindrome'
        else:
            return 'Not Palindrome'
    else:
        return 'Invalid Data Type'

In [29]:
check_palindrome('12,35,45')

'Not Palindrome'

In [23]:
check_palindrome('Nitin')

'Palindrome'

In [25]:
a:int = 'Mansi'
print(a)

Mansi

In [55]:
def give_fibo(n):
    fibo = [0,1]
    for i in range(n-2):
        last_num = fibo[-1]
        second_last_num = fibo[-2]
        next_num = last_num + second_last_num
        fibo.append(next_num)
    return fibo

In [57]:
print(give_fibo(20))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181]

In [33]:
data = [34,65,654,76,856]
print(data[-1])
print(data[-2])

856
76

In [59]:
list(range(2,7))

[2, 3, 4, 5, 6]

In [63]:
def check_prime(number):
    for i in range(2,number):
        if number % i == 0:
            return 'Not a Prime Number'
            break
    else:
        return 'Prime Number'

In [65]:
check_prime(7)

'Prime Number'

In [67]:
check_prime(35)

'Not a Prime Number'

In [75]:
n = 5.0

print('Hello'*int(n))

HelloHelloHelloHelloHello

In [77]:
n=5
for i in range(n):
    print(i)

0
1
2
3
4

In [81]:
n = 5

for i in range(1,n+1):
    print(i * '*')

*
**
***
****
*****

In [87]:
n = 5

for i in range(1,n+1):
    print(' '*(n-i) + i*'*')

    *
   **
  ***
 ****
*****

In [89]:
n = 5

for i in range(1,n+1):
    print(' '*(n-i) + i*'* ')

    *
   * *
  * * *
 * * * *
* * * * *

In [50]:
def print_star(n=5, typ = 'left',shape = '*'):
    global space
    if typ == 'left':
        space = ''

    elif typ == 'right':
        space = '  '

    elif typ == 'mid':
        space = ' '
    
    for i in range(1,n+1):
        print(space*(n-i) + i*f'{shape} ')

In [52]:
print_star(6,'left','$')

$
$ $
$ $ $
$ $ $ $
$ $ $ $ $
$ $ $ $ $ $

In [135]:
print_star(10,'right','$')

                  $
                $ $
              $ $ $
            $ $ $ $
          $ $ $ $ $
        $ $ $ $ $ $
      $ $ $ $ $ $ $
    $ $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [133]:
print_star(10,'mid','$')

         $
        $ $
       $ $ $
      $ $ $ $
     $ $ $ $ $
    $ $ $ $ $ $
   $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $
 $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $

In [149]:
def sum_of_n_natural_numbers(n):
    result = 0
    for i in range(1,n+1):
        result += i
    return result

In [151]:
sum_of_n_natural_numbers(10)

55

In [155]:
def factorial(n):
    result = 1
    for i in range(1,n+1):
        result *= i
    return result

factorial(4)

In [167]:
def total_sales(*args):
    #unpacking(holds more than one elements)
    return sum(args)

In [169]:
total_sales(1,2,4,69,5,77)

158

In [175]:
def total_sales(*args):
    #unpacking(holds more than one elements)
    result = 0
    for i in args:
        result += i
    return result

In [177]:
total_sales(1,2,76,56,98)

233

In [179]:
sales = [436,63,456,347,3245,6234,6547,2346,28757,468]

#min(sales)

In [181]:
sales = [436,63,456,347,3245,6234,6547,2346,28757,468]
min_element = sales[0]
for i in sales[1:]:
    if i < min_element:
        min_element = i
print(min_element)

63

In [183]:
sales = [436,63,456,347,3245,6234,6547,2346,28757,468]
max_element = sales[0]
for i in sales[1:]:
    if i > max_element:
        max_element = i
print(max_element)

28757

In [185]:
def minn(*data):
    min_ele = data[0]
    for i in data[1:]:
        if i< min_ele:
            min_ele = i
    return min_ele

In [187]:
minn(376,246,354,64,667,468)

64

In [193]:
def maxx(*data):
    max_ele = data[0]
    for i in data[1:]:
        if i> max_ele:
            max_ele = i
    return max_ele

In [195]:
maxx(376,246,354,64,667,468)

667

In [197]:
company = ['ola','uber','rapido','indrive','adani','tata']

def add_hashtag(*company):
    result = []
    for i in company:
        result.append('#'+i.upper())
    return result

In [199]:
add_hashtag('Ola','Uber')

['#OLA', '#UBER']

In [201]:
add_hashtag(*company)

['#OLA', '#UBER', '#RAPIDO', '#INDRIVE', '#ADANI', '#TATA']

In [211]:
def store_records(name,age,section,roll_no,Class):
    data = {'Name':name,'Age':age,'Sec':section,'Roll_No':roll_no,'Class':Class}
    import pandas as pd
    result = pd.DataFrame(data,index = [1])
    return result

In [217]:
store_records('Mansi',20,'A',21,12)

    Name  Age Sec  Roll_No  Class
1  Mansi   20   A       21     12

In [215]:
display(store_records('Mansi',20,'A',21,12))
display(store_records('Bhoomi',21,'B',28,12))
display(store_records('Megha',20,'C',11,12))

    Name  Age Sec  Roll_No  Class
1  Mansi   20   A       21     12

     Name  Age Sec  Roll_No  Class
1  Bhoomi   21   B       28     12

    Name  Age Sec  Roll_No  Class
1  Megha   20   C       11     12

In [30]:
def students_records(**kwargs): #kwargs is keyword argument(dictionary form)
    # print(kwargs)
    #try exception

    import pandas as pd
    try:
        result = pd.DataFrame(kwargs)
        return result
    except:
        result = pd.DataFrame(kwargs,index = [1])
        return result

students_records(Name = ['Ayan','Mansi','Bhoomi'],
                 Age = [20,19,20],
                 sec = list('ABC'),
                 Roll_no = [75,101,365],
                 Address = ['Noida','Delhi','Noida'])

     Name  Age sec  Roll_no Address
0    Ayan   20   A       75   Noida
1   Mansi   19   B      101   Delhi
2  Bhoomi   20   C      365   Noida

In [20]:
students_records(Name = 'Ayan',
                 Age = 20,
                 sec = 'E2',
                 Roll_no = '75',
                 Address = 'Delhi')

   Name  Age sec Roll_no Address
1  Ayan   20  E2      75   Delhi

In [ ]:
def show_time():
    try:
        while True:
            import time
            print(time.asctime())
            time.sleep(1)
            display(clear = True)
    except:
        print('Timer has been Stopped!!!')

In [41]:
show_time()

Fri Jul  4 11:52:52 2025

KeyboardInterrupt: