In [1]:
#Python to Mysql connect

In [1]:
import pymysql as py
print('Done')

Done

In [3]:
# pip install PyMySQL

In [7]:
conn = py.connect(user = 'root',
           password ='root',
          host = 'localhost',
          autocommit= True)
print('Connection Created Successfully')
print('Done')

Connection Created Successfully
Done

# Cursor

In [11]:
cur = conn.cursor()
print('Done')

Done

In [14]:
#create database using python

In [20]:
query = '''create database IITM_day5;'''

cur.execute(query)
print('Done')

Done

In [24]:
query = '''USE IITM_day5;'''
cur.execute(query)
print('Done')

Done

In [27]:
query = '''create table student_details
(
SID int not null,
S_Name varchar(50),
course varchar(50),
Address varchar(50),
Scholarship float
);'''

cur.execute(query)
print('Done')

Done

In [29]:
query = '''insert into student_details
values
(101,"Mansi Sharma","BCA","Delhi Janakpuri",5000),
(105,"Asses Kaur","MCA","South Delhi",5500);
'''

cur.execute(query)
print('Done')

Done

In [33]:
sid = int(input('Enter Roll No/SID:'))
name = input('Enter your Name:')
course = input('Enter your Course:')
address = input('Enter your Address:')
scholarship = float(input('Enter your Scholarship in RS:'))

q =f'''insert into student_details values
({sid},"{name}","{course}","{address}",{scholarship});'''

cur.execute(q)
print('Done')

Enter Roll No/SID: 103
Enter your Name: Mansi
Enter your Course: BCA
Enter your Address: West Delhi
Enter your Scholarship in RS: 5800

Done

In [35]:
n=3
for i in range(n):
    sid = int(input('Enter Roll No/SID:'))
    name = input('Enter your Name:')
    course = input('Enter your Course:')
    address = input('Enter your Address:')
    scholarship = float(input('Enter your Scholarship in RS:'))
    
    q =f'''insert into student_details values
    ({sid},"{name}","{course}","{address}",{scholarship});'''
    
    cur.execute(q)
    print('Record Inserted Successfully!!')
print('Done')

Enter Roll No/SID: 55
Enter your Name: Bhoomi
Enter your Course: MBA
Enter your Address: South Delhi
Enter your Scholarship in RS: 5400

Record Inserted Successfully!!

Enter Roll No/SID: 36
Enter your Name: Ashmeet
Enter your Course: MCA
Enter your Address: East Delhi
Enter your Scholarship in RS: 4850

Record Inserted Successfully!!

Enter Roll No/SID: 75
Enter your Name: Teju
Enter your Course: BCA
Enter your Address: West Delhi
Enter your Scholarship in RS: 7520

Record Inserted Successfully!!
Done

In [61]:
query = '''Select * from student_details;'''

cur.execute(query)

records = cur.fetchall()

all_columns = []
for i in cur.description:
    all_columns.append(i[0])
    
import pandas as pd
df = pd.DataFrame(records,columns=all_columns)
df

   SID        S_Name course          Address  Scholarship
0  101  Mansi Sharma    BCA  Delhi Janakpuri       5000.0
1  105    Asses Kaur    MCA      South Delhi       5500.0
2  103         Mansi    BCA       West Delhi       5800.0
3   55        Bhoomi    MBA      South Delhi       5400.0
4   36       Ashmeet    MCA       East Delhi       4850.0
5   75          Teju    BCA       West Delhi       7520.0

In [47]:
for i in cur.description:
    print(i)

('SID', 3, None, 11, 11, 0, False)
('S_Name', 253, None, 200, 200, 0, True)
('course', 253, None, 200, 200, 0, True)
('Address', 253, None, 200, 200, 0, True)
('Scholarship', 4, None, 12, 12, 31, True)

In [59]:
for i in cur.description:
    print(i[0])

SID
S_Name
course
Address
Scholarship

In [67]:
def show_records(db,table):
    query = f'''Select * from {db}.{table};'''
    
    cur.execute(query)
    
    records = cur.fetchall()
    
    all_columns = []
    for i in cur.description:
        all_columns.append(i[0])
        
    import pandas as pd
    df = pd.DataFrame(records,columns=all_columns)
    return df

In [69]:
show_records('iitm_day5','student_details')

   SID        S_Name course          Address  Scholarship
0  101  Mansi Sharma    BCA  Delhi Janakpuri       5000.0
1  105    Asses Kaur    MCA      South Delhi       5500.0
2  103         Mansi    BCA       West Delhi       5800.0
3   55        Bhoomi    MBA      South Delhi       5400.0
4   36       Ashmeet    MCA       East Delhi       4850.0
5   75          Teju    BCA       West Delhi       7520.0

In [71]:
show_records('iitm_db','sample_superstore')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9689,9990,CA-2014-110422,1/21/2014,1/23/2014,Second Class,TB-21400,Tom Boeckenhauer,Consumer,United States,Miami,...,33180,South,FUR-FU-10001889,Furniture,Furnishings,Ultra Door Pull Handle,25.2480,3,0.20,4.1028
9690,9991,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,FUR-FU-10000747,Furniture,Furnishings,Tenex B1-RE Series Chair Mats for Low Pile Car...,91.9600,2,0.00,15.6332
9691,9992,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,TEC-PH-10003645,Technology,Phones,Aastra 57i VoIP phone,258.5760,2,0.20,19.3932
9692,9993,CA-2017-121258,2/26/2017,3/3/2017,Standard Class,DB-13060,Dave Brooks,Consumer,United States,Costa Mesa,...,92627,West,OFF-PA-10004041,Office Supplies,Paper,"It's Hot Message Books with Stickers, 2 3/4"" x...",29.6000,4,0.00,13.3200
9693,9994,CA-2017-119914,5/4/2017,5/9/2017,Second Class,CC-12220,Chris Cortes,Consumer,United States,Westminster,...,92683,West,OFF-AP-10002684,Office Supplies,Appliances,"Acco 7-Outlet Masterpiece Power Center, Wihtou...",243.1600,2,0.00,72.9480